@import '../../../style/utils/base';

.culturalPrioritiesCard{
    position: relative;

    padding: 8rem 30rem 8rem 8rem;
    margin-top: 12rem;
    margin-bottom: 12rem;
    border-radius: 0 0 5rem 0;
    background-color: #EFE0BF;

    @include response(lg-desktop){
        padding: 7rem 30rem 7rem 7rem;
    }
    @include response(vp-800){
        padding: 5rem 30rem 5rem 5rem;
    }
    @include response(phone){
        margin-top: 8rem;
        margin-bottom: 8rem;
        padding: 2rem;
        border-radius: 6rem 0 0 0;

        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
    }
    @include response(s-phone){
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .text{
        font-size: 2rem;
        font-weight: 400;

        @include response(vp-800){
            line-height: 1.3;
        }
    }
    .numberBox{
        background-color: #CC9B2B;
        height: 27rem;
        width: 27rem;
        border-radius: 5rem 0 5rem 0;

        position: absolute;
        right: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        @include response(phone){
            position: relative;
            height: 100%;
            width: 100%;
        }

        .number{
            color: #F0E1C0;
            font-size: 10rem;
            font-weight: 900;
        }
    }

    .numberBoxReverse{
        right: auto;
        left: 0;
    }
}

.culturalPrioritiesCardReverse{
    padding: 8rem 8rem 8rem 30rem;
    border-radius: 5rem 0 0 0;

    @include response(lg-desktop){
        padding: 7rem 7rem 7rem 30rem;
    }
    @include response(vp-800){
        padding: 5rem 5rem 5rem 30rem;
    }
    @include response(phone){
        border-radius: 6rem 0 0 0;
        margin-top: 8rem;
        margin-bottom: 8rem;
        padding: 2rem;
    }
    @include response(s-phone){
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}
