@import '../../../style/utils/base';

.detailSection{
    padding: 10rem 20rem;
    
    .contentContainer{
        h1{
            font-size: 5rem;
        }
        p{
            font-size: 2rem;

            margin-bottom: 2rem;
        }
    }
    .btnContainer{
        padding: 10rem 0;
    }
}
