@import "../../../../style/utils/base";

.errorMsgContainer {
  // width: max-content;
  h2 {
    font-size: 1.6rem;
    font-weight: 400;
    padding: .8rem 1.5rem;
    background-color: #f8d7da;
    color: #c20317;
    border: 2px solid #f5c6c6;
  }
}
