@import "../../../style/utils/base";

.sliderBox {
  height: 100%;

  // circle dot
  .circleDot {
    bottom: 30px;
    li {
      button {
        &::before {
          color: white;
          font-size: 2rem;
        }
      }
    }
  }

  // flat dot
  .flatDot {
    li {
      width: 6rem;
      margin: 0;

      button {
        width: 100%;

        &::before {
          content: "";
          height: 3px;
          width: 100%;
          border-radius: 1rem;
          background-color: white;
        }
      }
    }
  }
}
