@import '../../../style/utils/base';

.healthcareService{
    position: relative;
    background-color: $color-primary;

    .layoutTL{
        height: 20rem;

        position: absolute;
        top: 0;
        left: 0;

        .img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .layoutBR{
        height: 100rem;

        position: absolute;
        bottom: 0;
        right: 0;

        .img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .gridContainer{
        padding: 30rem 20rem 10rem 20rem;

        display: grid;
        grid-template-columns: 1fr min-content 1fr;
        gap: 2rem;

        .healthcareServiceCard{
            .imageContainer{
                height: 45rem;
                margin-bottom: 2rem;
                border-radius: 1rem;
                overflow: hidden;

                .img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .heading{
                font-size: 3rem;
                color: $color-text-light;
                text-align: center;
            }
        }
        .verticalLine{
            width: 1px;
            background-color: $color-secondary;
            justify-self: center;
        }
        .horizontalLine{
            height: 1px;
            background-color: $color-secondary;
            align-self: center;
        }
        .box{
            height: 1.5rem;
            width: 1.5rem;
            background-color: $color-secondary;
        }
    }
}
