// ===========================================
// COLORS
// ===========================================

$color-primary: #0B612D;
$color-secondary: #95C11F;
$color-secondary-goldenrod: #CC9B2B;

$color-background-green: #13A438;
$color-background-beige: #F5EBD5;
$color-background-paleAqua: #CEDFD5;
$color-background-paleYellow: #EFE0BF;
$color-background-white: #fff;

$color-primary-gradient: linear-gradient(45deg, #95c11f, #0b612d);
$color-goldenrod-gradient: linear-gradient(45deg, #dad565, #cd9c2b);

$color-text-primary: #0B612D;
$color-text-light: #FFFFFF;
$color-text-dark: #0000;
$color-text-darkGrey: #4A4A4A;
$color-text-grey: #848484;
$color-text-midGrey: #ddd;

$color-error: rgb(151, 61, 61);
$color-success: rgb(61, 151, 109);


// ============================
// Functions
// ============================

@mixin alignItem(){
    display: flex;
    align-items: center;
    justify-content: center;
}
