@import '../style/utils/base';

.home{
  background-color: $color-primary;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  h1{
    font-size: 5rem;
    font-weight: 600;
    color: $color-text-light;
  }
}
