@import './utils/base';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;

  @include response(lg-desktop) {
    font-size: 55%;
  }
  @include response(M-desktop) {
    font-size: 50%;
  }
  @include response(desktop) {
    font-size: 47%;
  }
}

body {
  font-family: 'Graphik';
  font-weight: 300;
  line-height: 1.6;

  overflow-x: hidden;
}

.PhotoView-Portal {
  z-index: 99999999999 !important;
}

// Slick Slider card height adjustment
.slick-track {
  height: calc(100Svh - 16rem);

  @include response(phone){
    height: calc(100Svh - 12rem);
  }
}
.slick-track .slick-slide > div{
  height: 100%;
}
.slick-arrow{
  background-color: orangered;
}
