@import '../../../style/utils/base';

.boardMemberCard{
    overflow: hidden;
    
    .imageContainer{
        width: 100%;
        max-width: 35rem;
        border-radius: 0 10rem 0 0;
        height: 30rem;
        margin-bottom: 1.5rem;
        overflow: hidden;
        
        .img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .memberName,
    .designation{
        text-align: center;
        font-weight: 400;
        line-height: 1.3;
    }
    
    .memberName{
        font-size: 1.8rem;

    }

    .designation{
        font-size: 1.6rem;
    }
}

.cardStyleOne{
    border-radius: 10rem 0 0 0 !important;

    @include response(phone){
        border-radius: 1rem !important;
    }
}
.cardStyleTwo{
    border-radius: 1rem !important;
}
.cardStyleThree{
    border-radius: 0 0 10rem 0 !important;
    
    @include response(phone){
        border-radius: 1rem !important;
    }
}
