@import '../../../style/utils/base';

.heroSection{
    height: 100vh;
    background-color: plum;

    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 5rem;
        color: $color-text-light;
    }
}
