@import '../../../style/utils/base';

.footer{
    padding-left: 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    
    @include response(s-desktop){
        flex-direction: column;
        align-items: normal;
        gap: 2rem;
        padding-left: 0;
    }

    .logoContainer{
        flex: 1;
        padding: 3rem;
        height: 20rem;

        display: flex;
        align-items: center;
        justify-content: center;

        @include response(s-desktop){
            flex: auto;
            height: 15rem;
        }
        
        .logo{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    .contentContainer{
        flex: 3;
        background-color: $color-primary;
        padding: 15rem 20rem;
        border-radius: 50rem 0 0 0;
        
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        
        @include response(M-desktop){
            padding: 15rem 10rem 15rem 20rem;
        }
        @include response(s-desktop){
            padding: 10rem 5rem 10rem 15rem;
        }
        @include response(vp-800){
            flex: auto;
            flex-direction: column;
            align-items: center;
            gap: 5rem;
            border-radius: 20rem 0 0 0;
            padding: 10rem 5rem;
        }
        
        .address,
        .contact,
        .socialmedia{
            font-size: 1.8rem;
            color: $color-text-light;
        }

        .address{
            display: flex;
            gap: 2rem;

            .addressTitle{
                font-weight: 600;
            }
        }

        .contact{
            display: grid;
            grid-template-columns: repeat(2, [col-start] max-content [col-end]);
            grid-template-rows: repeat(2, [row-start] max-content [row-end]);
            column-gap: 2rem;

            .phoneTitle,
            .emailTitle{
                font-weight: 600;
            }

            .phoneTitle{
                grid-column: col-start 1 / col-end 1;
                grid-row: row-start 1 / row-end 1;
            }
            .phoneData{
                grid-column: col-start 2 / col-end 2;
                grid-row: row-start 1 / row-end 1;
                
            }
            .emailTitle{
                grid-column: col-start 1 / col-end 1;
                grid-row: row-start 2 / row-end 2;                
            }
            .emailData{
                grid-column: col-start 2 / col-end 2;
                grid-row: row-start 2 / row-end 2;

            }
        }
        .socialmedia{
            .container{
                display: flex;
                align-items: center;
                gap: 2rem;

                @include response(vp-800){
                    justify-content: center;
                }

                .link{
                    height: 3.5rem;
                    aspect-ratio: 1;
                    border-radius: 50%;
                    background-color: $color-secondary;
                    margin-bottom: 1rem;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .icon{
                        font-size: 1.8rem;
                        color: $color-primary;
                        transition: all 500ms;
                    }

                    &:hover .icon{
                        color: white;
                    }
                }
            }
            .copywrite{
                font-size: 1.3rem;
            }
        }
    }
}
