@import '../../../style/utils/base';

.boardMember{
    position: relative;
    padding: 20rem 15rem;

    @include response(s-desktop){
        padding: 10rem;
    }
    @include response(phone){
        padding: 5rem;
    }
    @include response(s-phone){
        padding: 3rem;
    }

    .layoutRight{
        height: 75rem;
        position: absolute;
        top: 0;
        right: 0;

        @include response(phone){
            height: 50rem;
        }

        .img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .memberCardContainer{
        position: relative;
        z-index: 1;

        &:not(:last-child){
            margin-bottom: 15rem;
        }
    }
}
