@import '../../../style/utils/base';

.sevenPrinciple{
    padding: 10rem 20rem;

    display: grid;
    grid-template-columns: [col-left-start] 1fr [col-left-end col-mid-start] max-content [col-mid-end col-right-start] 1fr [col-right-end];
    grid-template-rows: repeat(2, [row-start] max-content [row-end]);
    gap: 4rem;

    @include response(M-desktop){
        padding: 10rem 15rem;
    }
    @include response(s-desktop){
        padding: 10rem;
    }
    @include response(tab-port){
        grid-template-columns: [col-start] 1fr [col-end];
        grid-template-rows: repeat(4, [row-start] min-content [row-end]);
    }
    @include response(phone){
        padding: 10rem 5rem;
    }
    @include response(s-phone){
        padding: 5rem 3rem;
    }

    .heading{
        grid-column: col-left-start 1 / col-left-end 1;
        grid-row: row-start 1 /row-end 1;

        font-size: clamp(1.20rem, calc(0.35rem + 4.27vw), 5.47rem);
        line-height: 1.2;
        max-width: 14ch;
        color: $color-primary;
        margin-bottom: 2rem;

        @include response(tab-port){
            grid-column: col-start / col-end;
            grid-row: row-start 1 / row-end 1;
        }
    }

    .imgContainer{
        grid-column: col-left-start / col-left-end;
        grid-row: row-start 2 / row-end 2;
        
        position: relative;
        padding-bottom: 100%;
        width: 100%;

        @include response(tab-port){
            grid-column: col-start / col-end;
            grid-row: row-start 2 / row-end 2;
        }

        .img{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .divider{
        grid-column: col-mid-start / col-mid-end;
        grid-row: row-start 2 / row-end 2;

        height: 100%;
        width: 1px;
        background-color: $color-primary;

        @include response(tab-port){
            width: 100%;
            height: 1px;

            grid-column: col-start / col-end;
            grid-row: row-start 3 / row-end 3;
        }
    }

    .contentContainer{
        grid-column: col-right-start / col-right-end;
        grid-row: row-start 2 / row-end 2;

        display: flex;
        flex-direction: column;
         justify-content: space-between;
        gap: 2rem;

        @include response(tab-port){
            grid-column: col-start / col-end;
            grid-row: row-start 4 / row-end 4;
        }
    }
}
