@import '../../../style/utils/base';

.serviceSection{
    display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr [col-end]);
    grid-template-rows: repeat(2, [row-start] min-content [row-end]);

    @include response(s-desktop){
        grid-template-columns: [col-start] 1fr [col-end];
        grid-template-rows: repeat(3, [row-start] min-content [row-end]);
    }

    .heading{
        grid-column: col-start 1 / col-end 1;
        grid-row: row-start 1 / row-end 1;

        font-size: 12rem;
        font-weight: 900;
        line-height: 1.3;
        text-align: end;
        color: $color-secondary-goldenrod;

        @include response(s-desktop){
            grid-column: col-start / col-end;
            font-size: 8rem;
            text-align: center;
        }
    }
    .headingReverse{
        grid-column: col-start 2 / col-end 2;
        grid-row: row-start 1 / row-end 1;

        padding-right: 10rem;
        color: $color-text-primary;

        @include response(s-desktop){
            grid-column: col-start / col-end;
            padding-right: 0;
        }
    }
    
    .imgContainer{
        grid-column: col-start 1 / col-end 1;
        grid-row: row-start 2 / row-end 2;
        
        // height: 55rem;

        @include response(s-desktop){
            grid-column: col-start / col-end;
            grid-row: row-start 2 / row-end 2;
        }
        
        .img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .imgContainerReverse{
        grid-column: col-start 2 / col-end 2;
        grid-row: row-start 2 / row-end 2;

        @include response(s-desktop){
            grid-column: col-start / col-end;
            grid-row: row-start 2 / row-end 2;
        }
    }
    
    .contentContainer{
        grid-column: col-start 2 / col-end 2;
        grid-row: row-start 2 / row-end 2;

        background-color: $color-background-beige;
        padding: 5rem 25rem 5rem 5rem;
        border-radius: 0 30rem 0 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include response(s-desktop){
            grid-column: col-start / col-end;
            grid-row: row-start 3 / row-end 3;

            padding: 10rem 15rem 10rem 5rem;
            border-radius: 0 0 20rem 0;
        }
        @include response(phone){
            border-radius: 0 0 10rem 0;
            padding: 5rem 5rem 8rem 5rem;
        }

        .title,
        .subTitle,
        .parag {
            color: $color-text-darkGrey;
        }

        .title{
            font-size: 5.5rem;
            font-weight: 900;
            line-height: 1;
            margin-bottom: 3rem;

            @include response(s-phone){
                font-size: 5rem;
            }
        }
        .subTitle{
            font-size: 3rem;
            line-height: 1.2;
            margin-bottom: 2rem;
            font-weight: 600;

            @include response(phone){
                font-size: 2.5rem;
            }

            span{
                display: block;
            }
        }
        .parag{
            font-size: 1.8rem;
            line-height: 1.2;
            font-weight: 400;
            margin-bottom: 6rem;
        }
    }
    .contentContainerReverse{
        grid-column: col-start 1 / col-end 1;
        grid-row: row-start 2 / row-end 2;

        background-color: $color-background-paleAqua;
        padding: 5rem 5rem 5rem 20rem;
        border-radius: 30rem 0 0 0;
        
        @include response(s-desktop){
            grid-column: col-start / col-end;
            grid-row: row-start 3 / row-end 3;
            
            border-radius: 0 0 0 20rem;
            padding: 10rem 5rem 10rem 15rem;
        }
        @include response(phone){
            border-radius: 0 0 0 10rem;
            padding: 5rem 5rem 8rem 5rem;
        }
    }
}
