@import '../../../style/utils/base';

.commentSection{
    padding: 0 20rem 20rem 20rem;
    
    @include response(M-desktop){
        padding: 0 15rem 5rem 15rem;
    }
    @include response(tab-port){
        padding: 0 10rem 5rem 10rem;
    }
    @include response(phone){
        padding: 0 5rem 5rem 5rem;
    }
    @include response(s-phone){
        padding: 0 3rem 3rem 3rem;
    }

    .heading{
        font-size: 7rem;
        font-weight: 900;
        color: $color-primary;

        @include response(s-phone){
            font-size: 5rem;
        }
    }

    .divider{
        display: grid;
        grid-template-columns: 2fr min-content 1fr;
        gap: 5rem;

        margin: 4rem 0;

        .lineLeft,
        .lineRight{
            height: 2px;
            width: 100%;
            background-color: $color-primary;
            align-self: center;
        }
        .box{
            height: 2rem;
            width: 2rem;
            background-color: $color-primary;
        }
    }

    .formContainer{
        padding: 5rem 0 10rem 0;

        .form{
            font-size: 2rem;

            display: grid;
            grid-template-columns: 1fr 3fr 1.5fr;
            gap: 2rem;

            .box{
                grid-column: 1 / -1;

                display: grid;
                grid-template-columns: 1fr 3fr 1.5fr;
                gap: 2rem;
                margin-bottom: 2rem;

                @include response(phone){
                    grid-template-columns: 1fr;
                }

                label{
                    justify-self: end;

                    @include response(phone){
                        justify-self: start;
                    }
                }
                input{
                    font-size: 1.8rem;
                    padding: 1rem;
                }
                .required{

                }
            }

            .submitBtn{
                grid-column: 2 / 2;
                width: min-content;
                padding: 1rem 2rem;
                font-size: 2.2rem;
                border-radius: 5px;
                border: 2px solid $color-primary;
                background-color: transparent;
                color: $color-secondary;
                font-weight: 400;
                cursor: pointer;
                transition: all 500ms;

                &:hover{
                    background-color: $color-primary;
                }

                @include response(phone){
                    grid-column: 1 / 1;
                }
            }
        }
    }

    .commentContainer{
        padding: 0 10rem;

        @include response(phone){
            padding: 0;
        }

        .cardContainer{
            margin-bottom: 3rem;
        }
    }
}
