@import '../../../style/utils/base';

.serviceCard{
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    height: 25rem;
    width: 100%;

    .mask{
        background-image: linear-gradient(transparent 50%, rgba(0, 0, 0, .9));

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: flex-end;

        .heading{
            color: $color-text-light;
            font-size: 4rem;
            text-transform: capitalize;
            margin-bottom: 2rem;
        }
    }
    .imgContainer{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
