@import '../../../style/utils/base';

.btn{
    padding: 1rem 2.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    color: $color-primary;
    background-color: transparent;
    border-radius: 1rem;
    border: 2px solid $color-primary;
    transition: all 200ms;

    &:hover{
        background-color: $color-primary;
        color: $color-secondary;
    }
}
.btnSecond{
    border: 2px solid $color-secondary;
    
    &:hover{
        border: 2px solid $color-primary;

    }
}
